<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
        <meta charset="utf-8" />
        <title>TudorApp - ADMIN felület</title>
        <link rel="stylesheet" type="text/css" src="css/styles.css" />

		<!--
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/resources/theme-neptune-all.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all-debug.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-neptune/theme-neptune.js"></script>
        -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script>
        $(document).ready(function(){
            $.getJSON("http://localhost:9090/user/users", function(result){
                $.each(result, function(key,value) {
                    //$("#usersJson").append(value.id+" "+value.name+" "+value.username+" ");
                    //$("#usersJson").append(value.username+" "+value.password+" "+value.type+" "+value.userid);
                    
                    //$("#usersJson").append(data.username+" "+data.password+" "+data.type+" "+data.userid);
                    //$("#usersJson").append("<tr><td>"+value.userid+"</td><td>"+value.username+"</td><td>"+value.password+"</td><td>"+value.type+"</td><td><a href=\"/user/delete"+"/"+value.userid+"\">delete</a></td></tr>");
                    //$("#usersJson").append("<tr><td>"+value.username+"</td><td>"+value.password+"</td><td>"+value.type+"</td><td><a href=\"/user/delete"+"/"+value.username+"\">delete</a></td></tr>");
                    $("#usersJson").append(
                        "<tr><td>"+value.username+"</td><td>"+value.password+"</td><td>"+value.type+
                            "</td><td><a href=\"/user/delete"+"/"+value.username+"\">delete</a></td>"+
                            /*"<td><a href=\"/user/update"+"/"+value.username+"\">update</a></td></tr>"*/
                            /*"<td><a href=\"/user/update_user"+"/"+value.username+"\">update</a></td></tr>"*/
                            "<td><a href=\"/user/update_user"+"?username="+value.username+"\">update</a></td></tr>"
                            
                    );

                }); 
            });

            /*
            $.ajax({
                url: "http://localhost:9090/user/users"
            }).then(function(data) {
                $('#usersJson').append(data.id);
                $('#usersJson').append(data.name);
                $("#usersJson").append(value.id+" "+value.name+" "+value.username+" ");
                $("#usersJson").append(data.id+" "+data.name+" "+data.username+" ");
            });
            */
            
        });
        </script>
                
    </head>

    <body>
        TudorApp - Admin felület
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        
        <p>Click <a th:href="@{/user/users}">here</a> to see users json.</p>
        <p>Click <a th:href="@{/user/add_user}">here</a> to create new user.</p>

        <!-- <div id="usersJson"> </div> -->
        
        <table id="usersJson">
            <tr>
                <!--<th>Userid</th>-->
                <th>Username</th>
                <th>Password</th>
                <th>Type</th>
            </tr>
        </table>
        

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>